<div class="llc">
    <div class = "container theme-showcase ">

        <table class="table table-bordered table-striped shadow">
            <thead>
            <tr class="info">

                <th>
                    id

                </th>
                <th>
                    title

                </th>
                <th>
                    logo

                </th>
                <th>
                    categories
                </th>
                <th>
                    revenue
                </th>
                <th>
                    currency
                </th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let offer of offers">

                <td>{{offer.id}}</td>
                <td>{{offer.title}}</td>
                <td>
                    <img src="{{offer.logo}}"></td>
                <td>{{offer.categories}}</td>
                <td>{{offer.revenue}}</td>
                <td>{{offer.currency}}</td>
            </tr>


            </tbody>

        </table>

    </div>
</div>