/* Master Styles */
h1 {
    text-align: center;
    color: #450;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    text-align: center;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
    background-color: #bcc4d8;
}
